.grid-container {
    display: grid;
    /* gap: 10px; */
    width:50%;
    padding: 10px;
    margin: auto;
  }
  
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    
   /* padding: 10px; */
    font-size: 16px;
  }
  
  .item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    background-color: #F5E3D7;
  }
  
  .item2 {
    background-color: #F5E3D7;
    grid-column: 3 /span 2;
    
    grid-row: 1 ;
  }

  .item3{
    grid-column: 1 / span 2;
    grid-row: 2;
    padding: 15px;
   
    
  }
  .item4{
    grid-column:3 ;
    grid-row: 2;
    background-color: #FB683D;
   
  }
  .item5 {
    grid-column: 4 ;
    grid-row: 2;
    padding: 20px;
    
    background-color: #EBAF4F;
 
  }
  .item6{
    background-color: #EBAF4F;
    text-align: center;
    padding: 20px;
    color: white;
  }
  .item7{
    background-color: #FB683D;
    text-align: center;
    padding: 20px;
    color: white;
  }
  .item8{
    background-color: black;
    text-align: center;
    padding: 20px;
    color: white;
  }
  .item9{
    text-align: center;
    padding: 20px;
    color: black
  }
  .item10{
    grid-column: 1 / span 2;
    grid-row: 4;
   
     
  }
  .item11{
    grid-column: 3 / span 2;
    grid-row: 4;
    background-color: #FB683D;
  }
  .item12{
    grid-column: 1 / span 2;
    grid-row: 5;
    background-color: #EBAF4F;
  }
  .item13{
    grid-column: 3 / span 2;
    grid-row: 5;
  }
  .item14{
    grid-column: 1 / span 2;
    grid-row: 6;
    background-color: #FB683D;
  }
  .item15{
    grid-column:3;
    grid-row: 6;
  }
  .item16{
    grid-column: 4;
    grid-row: 6;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: smaller;
  }

  .item17{
    grid-column: 1 / span 4;
    grid-row: 7;
    text-align: center;
    padding: 20px;
    background-color: #FB683D;
  }