#textarea{
    width: 50%;
    height: 550px;
}
#submitbtn{
    color:white;
    background-color: green;
    padding: 5px 15px;
    border: none;
}
#title{
    color:tomato;
    margin: auto;
}
#logo{
    width: 100px;
    margin: auto;
}
#main{
    display: flex;
}
td, th{
    border: 1px solid;
}