button{
    padding:1rem;

}
.btn{
    color: whitesmoke;
    border-radius: 2px;
    cursor: pointer;
}
.red{
    background-color: crimson;
}
.green{
    background-color: greenyellow;
    color:black
}
.bordered{
    border:1px solid black
}
.ghost{
    border: none;
}